.sidewrapper {
  display: flex;
}

.sectionlist {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: 1px solid #04040a;
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 20px 10px;
  div {
    cursor: pointer;
    height: 100px;
  }
  div:hover {
    background-color: #080000;
    color: #fff;
  }
}

.newslist {
  height: calc(100vh - 110px);
  overflow-y: auto;
}